In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1, 2, 3, 4, 5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
s2 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'], name='numbers')
print(s2)

a    1
b    2
c    3
d    4
e    5
Name: numbers, dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

Accessing the first element using label

In [ ]:
s2['a']

np.int64(1)

In [7]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}
 
df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [9]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df.columns

Index(['name', 'age', 'city'], dtype='object')